/*login*/

.login-container{
	display: flex;
	justify-content: center;
	align-items: center;
	padding:70px 50px ;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);

}
.login-box{
	width: 400px;
	height: 400px;
	background: #fff;
	color: #000;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	padding: 70px 30px;
}
form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
input[type=text], input[type=password] {
	padding: 10px;
	border: 1px solid gray;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 16px;
}


h2{
	margin-top: 35px;
	text-align: center;
	font-size: 30px;
	color: #000;
}
h1 {
	text-align: center;
	margin-bottom: 30px;
}

button{
	border-radius: 20px;
	border: none;
	outline: none;
	padding: 10px 30px;
	cursor: pointer;
	font-size: 18px;
	color:#30ae69
}
.submit-btn{
	margin-left: 50px;
	background-color: #30ae69;
	color: #f1f1f1;
	border-radius: 0;
	margin-left: 50px;
}
.cancel-btn{

	background-color: #30ae69;
	color: #f1f1f1;
	border-radius: 0;
	margin-right: 50px;
}
.register-btn{
	background-color: #30ae69;
	color: #f1f1f1;
	border-radius: 0;
}
.button-box{
	display: flex;
	justify-content: space-between;
	color:#000;
}
a {
    color:white;

}
a:hover{
    color:white;
}