/*login*/

.login-container{
	display: flex;
	justify-content: center;
	align-items: center;
	padding:70px 50px ;

}


h2{
	margin-top: 35px;
	text-align: center;
	font-size: 30px;
	color: #000;
}

button{
	border-radius: 20px;
	border: none;
	outline: none;
	padding: 10px 30px;
	cursor: pointer;
	font-size: 18px;
	color:#30ae69
}
button:hover{
	opacity: .7;
}
.submit-btn{
	margin-left: 50px;
	background-color: #30ae69;
	color: #f1f1f1;
	border-radius: 0;
	margin-left: 50px;
}
.cancel-btn{

	background-color: #30ae69;
	color: #f1f1f1;
	border-radius: 0;
	margin-right: 50px;
}
.register-btn{
	background-color: #30ae69;
	color: #f1f1f1;
	border-radius: 0;
}
.button-box{
	display: flex;
	justify-content: space-between;
	color:#000;
}
a {
    color:white;

}
a:hover{
    color:white;
}