.register-container{
	display: flex;
	justify-content: center;
	align-items: center;
	padding:70px 50px ;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);

}
.register-box {
    margin: 0 auto;
    width: 700px;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
	justify-content: center;
	align-items: center;
	padding:70px 50px ;
	box-shadow: 0 5px 15px rgba(0,0,0,.5)
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
input[type=text], input[type=email], input[type=password], input[type=date] {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    border: none;
}
.cancel-btn{

	background-color: #30ae69;
	color: #f1f1f1;
	border-radius: 0;
	margin-right: 50px;
}
.register-btn{
	background-color: #30ae69;
	color: #f1f1f1;
	border-radius: 0;
}
.button-box{
	display: flex;
	justify-content: space-between;
	color:#000;
}
a {
    color:white;

}
a:hover{
    color:white;
}